* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    display: grid;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.calculator {
    width: 35rem;
    box-shadow: 0px 0px 5px 0px gray;
    background-color: #ffffff;
    padding: 2rem;
}

.input {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    color: blueviolet;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

input {
    width: 7rem;
    padding: 0.8rem;
    border-radius: 5px;
    box-shadow: 0px 0px 1.5px 0px blueviolet;
    border: none;
    font-weight: 750;
    font-size: 1rem;
}

.outputs {
    font-weight: 1000;
    font-size: 3.5rem;
    margin-bottom: 0;
    font-style: italic;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.submit {
    padding: 1rem 1.5rem;
    border-radius: 50%;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 2rem;
    font-weight: 100;
}

.submit:hover {
    scale: 1.1;
    transition: ease;
    transition-duration: 300ms;
    background-color: darkslategray;
}

span {
    color: blueviolet;
}

.responses {
    color: red;
    font-size: 0.5rem;
    font-style: italic;
}

@media (max-width:600px) {
    .calculator {
        width: 16rem;
        padding: 1rem;
    }

    .divider {
        display: flex;
        flex-direction: row;

        align-items: center;
    }

    input {
        width: 4rem;
        padding: 0.5rem;
        font-size: 0.6rem;
    }

    label {
        margin-bottom: 0.5rem;
        font-size: 0.5rem;
        font-weight: 1000;
        letter-spacing: 0.1rem;
    }

    .submit {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-weight: 1000;
    }

    .responses {
        font-size: 0.35rem;
    }

    .outputs {
        font-size: 2.5rem;
    }
}