@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf') format('ttf'),
        url('./assets/fonts/Poppins-Italic.ttf') format('ttf'),
        url('./assets/fonts/Poppins-Regular.ttf') format('ttf'),
        url('./assets/fonts/Poppins-Bold.ttf') format('ttf'),
        url('./assets/fonts/Poppins-BoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    display: grid;
    place-items: center;
    font-family: 'CustomFont', Arial, sans-serif;
    height: 100vh;
}

.calculator {
    width: 35rem;
    box-shadow: 0px 0px 5px 0px gray;
    background-color: #ffffff;
    padding: 2rem;
}

/* .title {
    font-size: 2.5rem;
    color: blueviolet;
    text-align: center;
    margin-bottom: 3rem;
} */

.input {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

label {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    color: red;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

input {
    width: 7rem;
    padding: 0.8rem;
    border-radius: 5px;
    box-shadow: 0px 0px 1.5px 0px blueviolet;
    border: none;
    font-weight: 750;
    font-size: 1rem;
}

.outputs {
    font-weight: 1000;
    font-size: 4.5rem;
    margin-bottom: 0;
    font-style: italic;
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.submit {
    padding: 1rem;
    border-radius: 50%;
    /* border: none; */
    background-color: blueviolet;
}

.submit:hover {
    scale: 1.1;
    transition: ease;
    transition-duration: 300ms;
    background-color: darkslategray;
}

span {
    color: blueviolet;
    letter-spacing: 0.6rem;
}

.responses {
    color: red;
    font-size: 0.5rem;
    font-style: italic;
}

@media (max-width:475px) {
    .calculator {
        width: 16rem;
        padding: 1rem;
    }

    .divider {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 7rem;
    }

    input {
        width: 4rem;
        padding: 0.5rem;
        font-size: 0.6rem;
    }

    label {
        margin-bottom: 0.5rem;
        font-size: 0.5rem;
        font-weight: 1000;
        letter-spacing: 0.1rem;
    }

    .submit {
        width: 4rem;
        font-weight: 1000;
        position: absolute;
        left: 40%;
    }

    .responses {
        font-size: 0.35rem;
    }

    .outputs {
        font-size: 2.5rem;
    }
}